html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 400px;
  width: 250px;
  background-color: white;
  text-align: center;
}

#status {
  display: flex;
  justify-content: flex-end;
  padding: 8px 8px 0 0;
}

#img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}

img {
  border-radius: 50%;
  border: 3px solid green;
}

h1 {
  font-size: 22px;
}

#occupation {
  background-color: lightgray;
  padding: 4px 0;
}

#brand {
  display: none;
}

p {
  margin: 4px 0;
}

#occupation,
#offer {
  padding: 4px 0;
}

#contact {
  display: flex;
}

#contact > p {
  height: 60px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact > p:first-child {
  background-color: lime;
}

#contact > p:last-child {
  background-color: green;
}

@media only screen and (min-width: 768px) {
  main {
    width: 500px;
    height: auto;
    display: grid;
    text-align: start;
    grid-template-columns: 40% 60%;
    grid-template-areas:
    "status name"
    "img occupation"
    "img brand"
    "contact offer"
  } 

  img {
    grid-area: img;
    margin: 20px auto;
  }

  #status {
    justify-content: flex-start;
    padding-left: 20px;
    grid-area: status;
  }

  #offer {
    grid-area: offer;
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 20px;
    flex-direction: column;
  }
  
  #offer,
  #name, #brand {
    background-color: lightgray;
    padding-left: 20px;
  }

  #name {
    margin: 0;
    padding-top: 20px;
  }

  #brand {
    display: unset;
    grid-area: brand;
  }
  #occupation{
    grid-area: occupation;
    padding-left: 20px;
  }
  #contact {
    grid-area: contact;
    padding-top: 70px;
  }
  #contact p {
    margin: 0;
  }
}
/* struggled to move offer and add background-color to the bottom */